/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: rgb(177, 166, 166);
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.mdi-circle {
  text-shadow: 0 0 4px black;

}

.car-img {
  height: 15em;
  width: 27.5em;
  object-fit: cover;
}

.house-img {
  height: 20em;
  width: 27.5em;
  object-fit: cover;
}